In [111]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

In [112]:
dataset = pd.read_csv('runs.csv')
dataset

            batsman  total_runs    out  numberofballs    average  strikerate
0           V Kohli      5426.0  152.0         4111.0  35.697368         132
1          SK Raina      5386.0  160.0         3916.0  33.662500         138
2         RG Sharma      4902.0  161.0         3742.0  30.447205         131
3         DA Warner      4717.0  114.0         3292.0  41.377193         143
4          S Dhawan      4601.0  137.0         3665.0  33.583942         126
..              ...         ...    ...            ...        ...         ...
477        ND Doshi         0.0    1.0           13.0   0.000000           0
478         J Denly         0.0    1.0            1.0   0.000000           0
479         S Ladda         0.0    2.0            9.0   0.000000           0
480  V Pratap Singh         0.0    1.0            1.0   0.000000           0
481       S Kaushik         0.0    1.0            1.0   0.000000           0

[482 rows x 6 columns]

In [113]:
X = dataset.iloc[:, 1:5].values
y = dataset.iloc[:, 5].values

In [114]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [115]:
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [116]:
y_pred = classifier.predict(X_test)
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

     Real Values  Predicted Values
0             95                83
1             79                94
2             50                67
3             33                50
4             73                58
..           ...               ...
188          105                98
189           58                57
190          120               117
191          119                95
192           71                59

[193 rows x 2 columns]

In [117]:
accuracy_test = accuracy_score(y_test,y_pred)
print('accuracy_score on test dataset : ', accuracy_test)

accuracy_score on test dataset :  0.06217616580310881